:root {
    --color-orange: #F49C6A;
    --color-blue: #363852;
    --color-pink: #CF9A92;
  }
  
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    color: var(--color-blue);
  }
  
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 60px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu li a {
    color: var(--color-blue);
    text-decoration: none;
  }
    
  .menu li a:hover {
    color: var(--color-orange);
  }
  
#accueil {
    text-align: center;
    background-color: #ffffff;
    margin-top: 45%;
}
  
.fullscreen-bg {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
  
  .fullscreen-bg img {
    width: 100%;
    height: auto;
  }
  
  .presentation,
  .description,
  .carousel {
    padding: 20px 0;
  }
  
  .presentation h1,
  .description h1,
  .carousel h1 {
    color: var(--color-blue);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .presentation .underline,
  .description .underline,
  .carousel .underline {
    width: 50px;
    height: 3px;
    background-color: var(--color-orange);
    margin: 0 auto 20px;
  }
  
  .presentation p,
  .description p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .carousel .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .carousel .slideshow img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
  }
  
  footer {
    background-color: var(--color-blue);
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .contact a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 24px;
  }
  
  .social-media a:hover {
    color: var(--color-pink);
  }
  